* text=auto !eol
copy_this/admin/d3_country_geoip.php -text
copy_this/core/d3geoip.php -text
copy_this/modules/d3_geoip/menu.xml -text
copy_this/modules/d3_geoip/views/d3_oxcmp_cur_geoip.php -text
copy_this/modules/d3_geoip/views/d3_oxcmp_lang_geoip.php -text
copy_this/out/admin/de/d3_geoip_lang.php -text
copy_this/out/admin/tpl/d3_country_geoip.tpl -text
setup+doku/IPNum-Berechnung.xls -text
setup+doku/geoip-Data_2011-10-13.sql -text
setup+doku/geoip-Struktur.sql -text
setup+doku/geoip_data_parts/1.sql -text
setup+doku/geoip_data_parts/2.sql -text
setup+doku/geoip_data_parts/3.sql -text
setup+doku/geoip_data_parts/4.sql -text
setup+doku/geoip_data_parts/5.sql -text
setup+doku/geoip_data_parts/6.sql -text
setup+doku/geoip_data_parts/7.sql -text
setup+doku/geoip_data_parts/8.sql -text
setup+doku/install.sql -text
setup+doku/install.txt -text
setup+doku/licence.txt -text
setup+doku/update.sql -text
setup+doku/update.txt -text
