* text=auto !eol
/Doxyfile -text
copy_this/.noencode -text
copy_this/modules/d3/d3geoip/IntelliSenseHelper.php -text
copy_this/modules/d3/d3geoip/controllers/admin/d3_cfg_geoipset.php -text
copy_this/modules/d3/d3geoip/controllers/admin/d3_cfg_geoipset_licence.php -text
copy_this/modules/d3/d3geoip/controllers/admin/d3_cfg_geoipset_list.php -text
copy_this/modules/d3/d3geoip/controllers/admin/d3_cfg_geoipset_main.php -text
copy_this/modules/d3/d3geoip/controllers/admin/d3_country_geoip.php -text
copy_this/modules/d3/d3geoip/menu.xml -text
copy_this/modules/d3/d3geoip/metadata.php -text
copy_this/modules/d3/d3geoip/models/d3geoip.php -text
copy_this/modules/d3/d3geoip/modules/components/d3_oxcmp_cur_geoip.php -text
copy_this/modules/d3/d3geoip/modules/components/d3_oxcmp_lang_geoip.php -text
copy_this/modules/d3/d3geoip/picture.png -text
copy_this/modules/d3/d3geoip/setup/d3geoip_update.php -text
copy_this/modules/d3/d3geoip/views/admin/de/d3_geoip_lang.php -text
copy_this/modules/d3/d3geoip/views/admin/tpl/d3_cfg_geoipset_main.tpl -text
copy_this/modules/d3/d3geoip/views/admin/tpl/d3_country_geoip.tpl -text
setup+doku/Installation.pdf -text
setup+doku/Precheck/d3precheck.php -text
setup+doku/changelog.txt -text
setup+doku/geoip-Data_IPv4_2013-04-18.sql -text
setup+doku/geoip-Data_IPv6_2013-04-18.sql -text
setup+doku/geoip-Struktur.sql -text
setup+doku/geoip_data_parts/IPv4_1.sql -text
setup+doku/geoip_data_parts/IPv4_2.sql -text
setup+doku/geoip_data_parts/IPv4_3.sql -text
setup+doku/geoip_data_parts/IPv4_4.sql -text
setup+doku/geoip_data_parts/IPv4_5.sql -text
setup+doku/geoip_data_parts/IPv4_6.sql -text
setup+doku/geoip_data_parts/IPv4_7.sql -text
setup+doku/geoip_data_parts/IPv4_8.sql -text
setup+doku/geoip_data_parts/IPv6_1.sql -text
setup+doku/geoip_data_parts/IPv6_2.sql -text
setup+doku/licence.txt -text
sources/CSVtoSQLconvert_perl/geoip_V6.csv -text
sources/CSVtoSQLconvert_perl/geoip_v4.csv -text
sources/CSVtoSQLconvert_perl/test.pl -text
sources/DevReferences/html/annotated.html -text
sources/DevReferences/html/bc_s.png -text
sources/DevReferences/html/classd3__cfg__geoipset.html -text
sources/DevReferences/html/classd3__cfg__geoipset__licence.html -text
sources/DevReferences/html/classd3__cfg__geoipset__list.html -text
sources/DevReferences/html/classd3__cfg__geoipset__main.html -text
sources/DevReferences/html/classd3__country__geoip.html -text
sources/DevReferences/html/classd3__oxcmp__cur__geoip.html -text
sources/DevReferences/html/classd3__oxcmp__lang__geoip.html -text
sources/DevReferences/html/classd3_geo_i_p.html -text
sources/DevReferences/html/classes.html -text
sources/DevReferences/html/closed.png -text
sources/DevReferences/html/d3__cfg__geoipset_8php.html -text
sources/DevReferences/html/d3__cfg__geoipset__licence_8php.html -text
sources/DevReferences/html/d3__cfg__geoipset__list_8php.html -text
sources/DevReferences/html/d3__cfg__geoipset__main_8php.html -text
sources/DevReferences/html/d3__country__geoip_8php.html -text
sources/DevReferences/html/d3__oxcmp__cur__geoip_8php.html -text
sources/DevReferences/html/d3__oxcmp__lang__geoip_8php.html -text
sources/DevReferences/html/d3geoip_8php.html -text
sources/DevReferences/html/doxygen.css -text
sources/DevReferences/html/doxygen.png -text
sources/DevReferences/html/files.html -text
sources/DevReferences/html/functions.html -text
sources/DevReferences/html/functions_func.html -text
sources/DevReferences/html/functions_vars.html -text
sources/DevReferences/html/globals.html -text
sources/DevReferences/html/globals_vars.html -text
sources/DevReferences/html/index.html -text
sources/DevReferences/html/installdox -text
sources/DevReferences/html/metadata_8php.html -text
sources/DevReferences/html/nav_f.png -text
sources/DevReferences/html/nav_h.png -text
sources/DevReferences/html/open.png -text
sources/DevReferences/html/search/all_24.html -text
sources/DevReferences/html/search/all_5f.html -text
sources/DevReferences/html/search/all_64.html -text
sources/DevReferences/html/search/all_67.html -text
sources/DevReferences/html/search/all_69.html -text
sources/DevReferences/html/search/all_6c.html -text
sources/DevReferences/html/search/all_6d.html -text
sources/DevReferences/html/search/all_70.html -text
sources/DevReferences/html/search/all_72.html -text
sources/DevReferences/html/search/all_73.html -text
sources/DevReferences/html/search/classes_64.html -text
sources/DevReferences/html/search/close.png -text
sources/DevReferences/html/search/files_64.html -text
sources/DevReferences/html/search/files_6d.html -text
sources/DevReferences/html/search/functions_5f.html -text
sources/DevReferences/html/search/functions_67.html -text
sources/DevReferences/html/search/functions_69.html -text
sources/DevReferences/html/search/functions_6c.html -text
sources/DevReferences/html/search/functions_70.html -text
sources/DevReferences/html/search/functions_72.html -text
sources/DevReferences/html/search/functions_73.html -text
sources/DevReferences/html/search/mag_sel.png -text
sources/DevReferences/html/search/nomatches.html -text
sources/DevReferences/html/search/search.css -text
sources/DevReferences/html/search/search.js -text
sources/DevReferences/html/search/search_l.png -text
sources/DevReferences/html/search/search_m.png -text
sources/DevReferences/html/search/search_r.png -text
sources/DevReferences/html/search/variables_24.html -text
sources/DevReferences/html/tab_a.png -text
sources/DevReferences/html/tab_b.png -text
sources/DevReferences/html/tab_h.png -text
sources/DevReferences/html/tab_s.png -text
sources/DevReferences/html/tabs.css -text
sources/Doku/Drucken[!!-~]-[!!-~]Bartomedia[!!-~]-[!!-~]Web[!!-~]Design[!!-~]Distinction_[!!-~]Geo[!!-~]IP[!!-~]-[!!-~]install[!!-~]Maxmind[!!-~]GeoIP[!!-~]using[!!-~]PHP[!!-~]+[!!-~]MySQL.pdf -text svneol=unset#unset
sources/Doku/Drucken[!!-~]-[!!-~]Bartomedia[!!-~]-[!!-~]Web[!!-~]Design[!!-~]Distinction_[!!-~]Maxmind[!!-~]GeoIP[!!-~]install[!!-~]setup[!!-~]tutorial[!!-~]using[!!-~]PHPMyAdmin.pdf -text
sources/Doku/Drucken[!!-~]-[!!-~]MaxMind[!!-~]Forum[!!-~]•[!!-~]View[!!-~]topic[!!-~]-[!!-~]Fast[!!-~]SQL[!!-~]Queries[!!-~]Using[!!-~]the[!!-~]CSV[!!-~]Database.pdf -text
sources/Doku/Drucken[!!-~]-[!!-~]On[!!-~]efficiently[!!-~]geo-referencing[!!-~]IPs[!!-~]with[!!-~]MaxMind[!!-~]GeoIP[!!-~]and[!!-~]MySQL[!!-~]GIS[!!-~]«[!!-~]Jeremy[!!-~]Cole.pdf -text svneol=unset#unset
sources/Doku/Drucken[!!-~]-[!!-~]Vincent[!!-~]de[!!-~]Lau_[!!-~]HOW-TO[!!-~]Import[!!-~]the[!!-~]MaxMind[!!-~]GeoIP[!!-~]Free[!!-~]Country[!!-~]CSV[!!-~]file[!!-~]into[!!-~]MySQL[!!-~]and[!!-~]save[!!-~]diskspace.pdf -text svneol=unset#unset
sources/GeoIP-Installation.docx -text
sources/IPNum-Berechnung.xls -text
