<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmainmenu">
            <SUBMENU id="mxcountries" cl="country" list="country_list">
                <TAB id="tbclcountry_geoip" cl="d3_country_geoip" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <OXMENU id="d3mxd3modules">
        <MAINMENU id="d3mxgeoip">
            <SUBMENU id="d3mxgeoip_settings" cl="d3_cfg_geoipset" list="d3_cfg_geoipset_list">
                <TAB id="d3tbclgeoip_settings_main" cl="d3_cfg_geoipset_main" />
                <TAB id="d3tbcl_licence" cl="d3_cfg_geoipset_licence" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
